{% comment %} Sticky Filter {% endcomment %}
{% comment %}
- collection: Liquid 'collection' or 'search' object
- enable_sidebar: boolean
- enable_color_swatches: boolean
- tags_combine: boolean
- enable_sort: boolean
- collapse_filters: boolean
{% endcomment %}

{%- liquid
    assign show_sidebar = true
    assign total_tags = 0
    assign show_price = false
  
    if enable_sidebar == false or collection.filters.size == 0
      assign show_sidebar = false
    endif
    for filter in collection.filters
      
      if filter.label contains "Price Per"
        assign show_price = true
      endif 
      
    endfor  
  -%}
  {% style %}
  .collection-filter:has(.collection-sticky-filter){
    /* margin-bottom: 100px; */
    top: 75px;
    position: sticky;
    background: #FFF;
    z-index: 5;
    /* padding-top: 3px; */
    border-bottom: 1px solid #efefef;
  }
  
  @media(min-width: 975px) {
    .collection-filter:has(.collection-sticky-filter){
      top: 64px;
    }
  }
  @media(min-width: 1250px) {
    .collection-filter:has(.collection-sticky-filter){
      top: 94px;
    }
  }
  @media(min-width: 1350px){
    .collection-filter:has(.collection-sticky-filter){
      top: 98px;
    }
  }

  .collection-filter.is-stuck:after{
    content:"";
  }
  .collection-filter.is-stuck:before{
    content:"";
    display: block;
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    background: #BBE0EA;
    z-index: -1;
    top: 0;
    left: calc(50% - 50vw);
  }

  .collection-sticky-filter_down-area{
    display: flex;
    align-items: center;
  }
  .collection-sticky-filter_top-area{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: solid 1px white;
    width: 100%;
    column-gap: 20px;
  }

  .collection-sticky-filter_top-area .no-bullets.tag-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 10px;
  }

  .collection-filter__inner .filter-item--count{
    padding: 0;
    margin: 0;
    color: #152755;
    font-family: "FuturaBook";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    align-items: center;
    display: flex;
    width: auto;
    white-space: nowrap;
    padding: 5px 0;
  }

  .collection-sticky-filter__active_tags li.tag--remove{
    display: flex;
    position: relative;
    margin: 0;
    align-items: baseline;
  }
  .collection-sticky-filter__active_tags .tag-list--active-tags a.btn.btn--small.js-no-transition{
    color: #152755;
  }
  .collection-sticky-filter__active_tags li.tag--remove a{
    padding: 0;
    margin: 0;
    color: #152755;
    font-family: "FuturaBook";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 242.857% */
  }

  .collection-sticky-filter__active_tags:not(:has(.tag--remove)) {
    display: none;
  }
  .collection-sticky-filter__active_tags li.tag--remove .icon-tag-close{
    margin-left: 5px;
  }
  .collection-sticky-filter__active_tags .tag--remove-all{
    color: #152755;
    font-family: "FuturaBook";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    padding: 0;
  }

  @media(max-width: 768px) {
    .collection-filter:has(.collection-sticky-filter){
      top: 65px!important;
    }
  }

  .collection-sticky-filter {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    flex-basis: 80%;
  }

  .sticky_filters_container form .single-filter-block {
    margin-bottom: 10px;
  }

  /* .collection-sticky-filter:before{
    content: "";
    background: rgba(215, 215, 215, 0.42);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1px;
  } */

  .collection-sticky-filter__label{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 450;
    font-family: 'FuturaMedium';
    display: none;
  }

  .collection-sticky-filter .collection-sticky-filter__item--count{
    text-wrap: nowrap;
    text-transform: capitalize;
    
    color: #152755;
    font-family: "FuturaBook";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .collection-sticky-filter .sticky_filters_container{
    display: flex;
    width: 100%;
    max-width: 1030px;
    // margin-left: 15px;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .collection-sticky-filter .flickity-viewport {
    width: 50vw;
    max-width: 900px;
  }
  .collection-sticky-filter .collection-sidebar__group{
    overflow: visible;
    width: max-content;
    border-radius: 59px;
    border: 1px solid #152755;
    margin-right: 8px;
  }
  .collection-sticky-filter .collection-sidebar__group:has(.is-open){
    border: 1px solid #152755;
    background: #BBE0EA;
  }
  .collection-filter.is-stuck .collection-sticky-filter .collection-sidebar__group{
    background: #FFF;
  }
  .collection-filter.is-stuck .collection-sticky-filter .collection-sidebar__group:has(.is-open){
    border: 1px solid #152755;
    background: #152755;
  }
  .collection-filter.is-stuck .collection-sticky-filter .collection-sidebar__group:has(.is-open) .collapsible-trigger__layout--inline>span{
    color: #FFF;
  }
  .collection-filter.is-stuck .collection-sticky-filter .collection-sidebar__group:has(.is-open) .collapsible-trigger__layout--inline>span svg path{
    stroke: #FFF;
  }

  .collection-sticky-filter .collection-sidebar__group:has(.is-open) .collapsible-trigger__layout--inline>span svg{
    transform: rotate(180deg);
  }

  /* .collection-sticky-filter .filter-wrapper .collapsible-content--all{
    height: auto!important;
    position: absolute;
    left:0;
    width: 135%;
    max-width: 1440px;
  } */
  .collection-sticky-filter .filter-wrapper .collapsible-content--all.is-open{
    /* width: 100vw;
    position: absolute; */
  }
  .collection-sticky-filter .collection-sidebar__group .collapsible-trigger-btn{
    padding: 2px 10px;
  }
  .collection-sticky-filter .collapsible-content__inner{
    padding: 0;
    padding-top: 15px;
  }
  .collection-sticky-filter .collapsible-trigger__layout--inline>span{
    text-wrap: nowrap;
    font-size: 14px;
    letter-spacing: 0px;
    padding-right: 6px;
    color: #152755;
  }
  .collection-sticky-filter .collapsible-trigger__layout--inline .collapsible-trigger__icon{
    width: 10px;
    height: 7px;
    transform: translateY(-120%);
  }
  .collection-sticky-filter  .no-bullets.tag-list{
    display: flex;
    flex-wrap: wrap;
  }
  .collection-sticky-filter label.tag__checkbox-wrapper.text-label{
    text-wrap: nowrap;
    padding: 10px 10px;
    margin: 0;
  }
  
  .sticky_filters_container > div {
    width: max-content;
  }
  .collection-sidebar{
    margin-bottom: 0;
  }
  .collection-sticky-filter .flickity-prev-next-button.next{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) -8.14%, #FFF 72.61%);
    right: -10px;
    padding: 0;
  }
  .collection-sticky-filter .flickity-prev-next-button.next .flickity-button-icon{
    right: 0;
    left: auto;
    width: 10px;
  }
  .collection-sticky-filter .flickity-prev-next-button.next:hover{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) -8.14%, #FFF 72.61%);
  }
  .collection-sticky-filter .flickity-prev-next-button.previous{
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.00) -8.14%, #FFF 72.61%);
    left: -10px;
    padding: 0;
  }
  .collection-sticky-filter .flickity-prev-next-button.previous .flickity-button-icon{
    left: 0;
    width: 10px;
  }
  .collection-sticky-filter .flickity-prev-next-button.previous:hover{
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.00) -8.14%, #FFF 72.61%);
  }
  .collection-sticky-filter .flickity-prev-next-button:hover{
    transform: translateY(-50%);
  }
  .collection-sticky-filter .flickity-prev-next-button{
    width: 100px;
    border-radius: 0;

  }

  .collection-sticky-filter-content .tag__checkbox:before{
    width: 18px;
    height: 18px;
    border-color: #152755;
    border-radius: 2px;
  }

  .collection-filter.is-stuck .collection-sticky-filter-content .tag__checkbox:before{
    background: #FFF;
  }

  
  .collection-sticky-filter-content .tag__checkbox:after{
    width: 18px;
    height: 18px;
    left: 0;
    
  }
  .collection-sticky-filter-content input:checked~.tag__checkbox:after{
    background: url(https://cdn.shopify.com/s/files/1/1205/7108/files/icon-checked.png);
    background-position: center;
    background-size: cover;
    border-radius: 2px;
  }

  .collection-filter{
    margin-bottom: 0;
  }
  .collection-filter__inner{
    margin-bottom: 0;
  }

  .collection-filter.is-sticky .collection-sticky-filter:before{
    display: none;
  }

  .collection-filter.is-sticky .collection-sticky-filter{
    padding-top: 8px;
    padding-bottom: 8px;
    background: #F8F8F8;
    box-shadow: 0px 4px 25.6px 0px rgba(0, 0, 0, 0.08);
  }

  .collection-filter.is-sticky div#CollectionSidebarFilterWrap{
    background: none;
  }

  .collection-sticky-filter-content{
    position: absolute!important;
    top: 48px!important;
    background: white!important;
  }

  .collapsible-content__inner ul.no-bullets.tag-list {
    display: flex;
    flex-direction: column;
  }

  .collection-sticky-filter-content .collapsible-content__inner{
    padding: 0!important;
    padding-top: 10px!important;
    /* margin-top: 15px; */
    padding-bottom: 12px!important;
    border-top: unset!important;
  }
  .collection-sticky-filter-content .no-bullets.tag-list{
    display: flex!important;
    flex-wrap: wrap!important;
    column-gap: 55px!important;
    margin-bottom: 0!important;
    justify-content: center!important;
  }
  .collection-sticky-filter-content .no-bullets.tag-list li.tag{
    width: unset!important;
  }

  .sticky_filters_container form.filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sticky_filters_container form .single-filter-block  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* .collection-sticky-filter .single-filter-block:last-child .collection-sidebar__group{
    margin-right: 0;
  } */

  .hidden-filter {
    display: none!important;
  }

  button#show-more-filters {
    color: black;
    border: 1px solid black;
    padding: 0px;
    border-radius: 50px;
    padding: 0px 10px;
    font-size: 14px;
    letter-spacing: 0px;
  }

  .collection-sidebar__group.is-open .collapsible-content.collapsible-content--all {
    visibility: visible;
    opacity: 1;
    overflow: visible;
    backface-visibility: visible;
  }
  
  label.tag__checkbox-wrapper.text-label{
    margin-bottom: 0px;
  }

  @media(min-width:1150px){
    .collapsible-content.collapsible-content--all {
      position: absolute;
      background: white;
      top: 33px;
      left: 0px;
      z-index: 9;
      box-shadow: 0 10px 20px #00000017;
    }
    .collapsible-content__inner {
      max-height: 320px;
      overflow-y: auto;
    }
    
    .additional-filters-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .filter-wrapper .additional-filters-wrapper .collection-sidebar__group {
      border: none;
      width: 100%;
    }

    .filter-wrapper .additional-filters-wrapper .collection-sidebar__group:has(.is-open){
      border: none;
      background:none;
    }

    .filter-wrapper .additional-filters-wrapper .collapsible-content.collapsible-content--all{
      position: unset;
      background: unset;
      width: 100%;
    }

    .filter-wrapper  .additional-filters-wrapper .single-filter-block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    .filter-wrapper .additional-filters-wrapper .collapsible-content.collapsible-content--all .collapsible-content__inner {
      height: unset!important;
      width: 100%;
      padding-top: 0px;
    }
    .additional-filters-wrapper .collapsible-content[style="height: auto;"] {
      height: 0px!important;
    }

    .filter-wrapper .additional-filters-wrapper .collapsible-content__inner ul.no-bullets.tag-list {
      margin-bottom: 0px;
    }

    .filter-wrapper .additional-filters-wrapper .collapsible-content.collapsible-content--all {
      box-shadow: none;
    }

    .filter-wrapper .additional-filters-wrapper label.tag__checkbox-wrapper.text-label {
      padding-left: 10px!important;
    }

    .additional-filters-wrapper {
      position: absolute;
      left: 0px;
      background: white;
      box-shadow: 0 10px 20px #00000017;
      display: none;
    }

    .parent-additional-wrapper {
      position: relative;
      background: white;
    }

    .parent-additional-wrapper .additional-filters {
      border:1px solid #152755;
      border-radius: 50px;
      font-size: 14px;
      letter-spacing: 0px;
      margin-bottom: 10px;
      padding: 2px 10px;
      display: flex;
      cursor: pointer;
    }

    .additional-filters .collapsible-trigger__icon {
      position: relative;
      top: unset;
      right: unset;
      margin-left: 7px;
      transform: unset;
    }

    details.parent-additional-wrapper[open] .additional-filters-wrapper {
      display: block;
      padding-top: 5px;
    }

    details.parent-additional-wrapper[open] .additional-filters .collapsible-trigger__icon {
      transform: rotate(-180deg);
      display: flex;
      top: 3px;
      left: -2px;
    }

    .additional-filters-wrapper .collection-sticky-filter .collection-sidebar__group .collapsible-trigger-btn {
      width: 100%;
    }

    .additional-filters-wrapper .collapsible-trigger__layout{
      width: 100%;
      justify-content: space-between;
    }

    .additional-filters-wrapper .collapsible-trigger__layout.collapsible-trigger__layout--inline span {
      font-size: 16px;
    }
    
    details.parent-additional-wrapper[open] span.additional-filters {
      background: #BBE0EA;
    }
  }

  {% endstyle %}
  
  
  {%- liquid
    if total_tags == 0
      assign show_sidebar = false
    endif
  -%}
  
  {%- if show_sidebar == false -%}
    {% comment %}
      Disable sidebar & filter features
    {% endcomment %}
    {%- style -%}
      .collection-content .grid__item--sidebar,
      .search-content .grid__item--sidebar  {
        display: none;
      }
      .collection-content .grid__item--content,
      .search-content .grid__item--content {
        width: 100% !important;
      }
      {%- if enable_sort == false -%}
        .collection-filter__item--drawer {
          display: none;
        }
      {%- endif -%}
      .collection-filter__item--count {
        text-align: left;
      }
      html[dir="rtl"] .collection-filter__item--count {
        text-align: right;
      }
    {%- endstyle -%}
  {%- endif -%}

  {%- if enable_sidebar or enable_sort -%}
    {%- style -%}
      @media screen and (min-width: 769px) {
        .collection-filter__item--drawer {
          display: none;
        }
        .collection-filter__item--count {
          text-align: left;
        }
        html[dir="rtl"] .collection-filter__item--count {
          text-align: right;
        }
      }
    {%- endstyle -%}
    
    {%- assign location = 'CollectionSidebar' -%}
    <div id="CollectionSidebar" class="collection-sticky-filter small--hide">
      
      <div class="collection-sticky-filter_down-area">
        <div class="collection-sidebar small--hide" id="CollectionSidebarFilterWrap">
          <div class="filter-wrapper">
            {%- liquid
              assign sort_title = 'collections.sorting.title' | t
              assign sort_by = collection.sort_by | default: collection.default_sort_by
              assign sort_id = 'CollectionSidebarSort'
            -%}
            <div class="collection-sidebar__group collection-sidebar__group--sort medium-up--hide">
              {%- render 'collection-sidebar-filter-trigger', location: location, title: sort_title, index: sort_id, collapsed_state: true -%}
    
              <div
                data-id="{{ location }}-{{ sort_id }}"
                class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner">
                  <ul class="no-bullets tag-list">  
                    {%- for option in collection.sort_options -%}
                      <li class="tag{% if option.value == sort_by %} tag--active{% endif %}">
                        <button type="button" data-value="{{ option.value }}" class="filter-sort">{{ option.name }}</button>
                      </li>
    
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
                  
            {%- if enable_sidebar -%}
              <div class="sticky_filters_container">
                <form class="filter-form">
                  {%- for filter in collection.filters -%}
                    {%- capture filter_id -%}filter-{{ filter.label | handleize }}{%- endcapture -%}
                    {%- assign filter_index = forloop.index -%}
                    {%- assign collapsed_state = section.settings.collapse_filters -%}
                    
                    {%- if filter_index <= 10 -%}
                      {%- unless filter.label == 'Price' -%}
                        <div class="collection-sidebar__group--{{ filter_index }} single-filter-block{% if show_more and filter_index > 6 %} hidden-filter{% endif %}">
                          <div class="collection-sidebar__group">
                            {%- if show_price != false -%}
                              {%- if filter.label != "Price"  -%}             
                                {%- render 'collection-sticky-filter-trigger',
                                  id: filter_id,
                                  location: location,
                                  title: filter.label,
                                  index: filter_index,
                                  collapsed_state: collapsed_state -%}
                              {%- endif -%} 
                            {%- else -%}   
                              {%- render 'collection-sticky-filter-trigger',
                                id: filter_id,
                                location: location,
                                title: filter.label,
                                index: filter_index,
                                collapsed_state: collapsed_state -%}
                            {%- endif -%}
                          </div>
                          {% if section.settings.enable_horizontal_filter %}
                            {%- render 'collection-grid-sticky-filter-container',
                              collection: collection,
                              enable_sidebar: section.settings.enable_sidebar,
                              enable_color_swatches: section.settings.enable_color_swatches,
                              tags_combine: section.settings.tags_combine,
                              enable_sort: section.settings.enable_sort,
                              collapse_filters: section.settings.collapse_filters,
                              count_label: count_label,
                              count: count,
                              filter: filter,
                              forloop: forloop
                            -%}
                          {% endif %}
                        </div>
                      {%- endunless -%}
                    {%- else -%}
                      {%- if filter_index == 11 -%}
                        <details class="parent-additional-wrapper" onclick="event.stopPropagation()">
                          <summary class="additional-filters-trigger">
                            <span class="additional-filters">Show more {%- render 'collapsible-icons' -%}</span>
                          </summary>
                      {%- endif -%}
                      {%- if filter_index == 11 -%}
                        <div class="additional-filters-wrapper">
                      {%- endif -%}
                      <div class="collection-sidebar__group--{{ filter_index }} single-filter-block{% if show_more and filter_index > 6 %} hidden-filter{% endif %}">
                        <div class="collection-sidebar__group">
                          {%- if show_price != false -%}
                            {%- if filter.label != "Price"  -%}             
                              {%- render 'collection-sticky-filter-trigger',
                                id: filter_id,
                                location: location,
                                title: filter.label,
                                index: filter_index,
                                collapsed_state: collapsed_state -%}
                            {%- endif -%} 
                          {%- else -%}   
                            {%- render 'collection-sticky-filter-trigger',
                              id: filter_id,
                              location: location,
                              title: filter.label,
                              index: filter_index,
                              collapsed_state: collapsed_state -%}
                          {%- endif -%}
                        </div>
                        {% if section.settings.enable_horizontal_filter %}
                          {%- render 'collection-grid-sticky-filter-container',
                            collection: collection,
                            enable_sidebar: section.settings.enable_sidebar,
                            enable_color_swatches: section.settings.enable_color_swatches,
                            tags_combine: section.settings.tags_combine,
                            enable_sort: section.settings.enable_sort,
                            collapse_filters: section.settings.collapse_filters,
                            count_label: count_label,
                            count: count,
                            filter: filter,
                            forloop: forloop
                          -%}
                        {% endif %}
                      </div>
                      {%- if forloop.last -%}
                          </div>
                        </details>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </form>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
  
  {%- unless enable_sort -%}
    {%- style -%}
      .collection-filter__sort,
      .collection-sidebar__group--sort {
        display: none;
      }
    
    {%- endstyle -%}
  {%- endunless -%}


  <script>
let hasResizedBelow1500 = false;

function moveFilterGroups() {
  const filterForm = document.querySelector('.sticky_filters_container .filter-form');
  const additionalWrapper = document.querySelector('.additional-filters-wrapper');
  
  // Check window width on DOMContentLoaded
  if (window.innerWidth < 1500) {
    const filterGroups = [
      filterForm.querySelector('.collection-sidebar__group--8'),
      filterForm.querySelector('.collection-sidebar__group--9'),
      filterForm.querySelector('.collection-sidebar__group--10')
    ];
    filterGroups.forEach(group => {
      if (group && !additionalWrapper.contains(group)) {
        additionalWrapper.prepend(group);
      }
    });
    hasResizedBelow1500 = true;  // Set the flag when window width is < 1500
  } else {
    hasResizedBelow1500 = false;
  }
}

document.addEventListener('DOMContentLoaded', moveFilterGroups);

window.addEventListener('resize', function() {
  const parentFilterWrapper = document.querySelector('.parent-additional-wrapper');
  const filterForm = document.querySelector('.sticky_filters_container .filter-form');
  const additionalWrapper = document.querySelector('.additional-filters-wrapper');
  
  if (window.innerWidth < 1500) {
    if (!hasResizedBelow1500) {
      const filterGroups = [
        filterForm.querySelector('.collection-sidebar__group--8'),
        filterForm.querySelector('.collection-sidebar__group--9'),
        filterForm.querySelector('.collection-sidebar__group--10')
      ];
      console.log("Less then filterGroups", filterGroups);
      filterGroups.forEach(group => {
        if (group && !additionalWrapper.contains(group)) {
          additionalWrapper.prepend(group);
        }
      });
      hasResizedBelow1500 = true;
    }
  } else {
    if (hasResizedBelow1500) {
      const filterGroups = [
        additionalWrapper.querySelector('.collection-sidebar__group--8'),
        additionalWrapper.querySelector('.collection-sidebar__group--9'),
        additionalWrapper.querySelector('.collection-sidebar__group--10')
      ];
      console.log("Greater then filterGroups", filterGroups);
      filterGroups.forEach(group => {
          filterForm.append(group);
          console.log("Elements", group);
      });

      if (filterForm.lastElementChild !== parentFilterWrapper) {
        filterForm.appendChild(parentFilterWrapper);
      }

      hasResizedBelow1500 = false;
    }
  }
});
</script>
