{% comment %} Enhancing Navigation Menu with Visuals {% endcomment %}
<style>
    .megamenu-area-tile-finder .megamenu-area-container{
        display: flex;
        justify-content: space-between;
    }
    .megamenu-area-tile-finder .megamenu-area-left{
        flex-basis: 23%;
        display: flex;
        column-gap: 22%;
        flex-direction: column;
        max-width: 300px;
    }
    .megamenu-area-tile-finder .megamenu-area-menu-content{
      text-align: left;
      margin-bottom: 10px;
    }
    .megamenu-area-tile-finder .megamenu-area-menu-item-button{
        height: 47px;
        display: flex;
        align-items: center;
        width: 270px;
        padding-left: 25px;
      }
      .megamenu-area-tile-finder .megamenu-area-menu-item-button p{
        margin: 0;
      }
      .megamenu-area-tile-finder .megamenu-area-menu-item-button.active{
        background: #55CCD9;
      }
      .megamenu-area-tile-finder .megamenu-area-menu-item-button.active p{
        color: #FFF;
        border-color: #FFF;
      }
    .megamenu-area-tile-finder .megamenu-area-divider{
        width: 1px;
        border-left: solid 1px #A5A5A5;
        height: 180px;
        margin-top: 8px;
    }
    .megamenu-area-tile-finder .megamenu-area-right{
        flex-basis: 75%;
        padding-left: 2%;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content p.h3 {
        font-family: "FuturaDemi";
    }
    .megamenu-area-tile-finder .megamenu-area-right-content p.h3:hover {
        color: #000;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-lists{
        width: 30%;
        text-align: left;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 25px 20px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-list.menu-Color{
        gap: 8%;
        height: 400px;
    }
    .megamenu-area-tile-finder #megamenu-area-right-content-2 .megamenu-area-menu-list.menu-Color{
        height: 500px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-list.menu-Shape{
        gap: 5%;
        height: 500px;
        column-gap: 10%;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-list.menu-Styles{
        gap: 5%;
        height: 430px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-lists .color-item{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-lists .shape-item {
        display: flex;
        gap: 7px;
        align-items: center;
        height: 50px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-lists .shape-item img{
        width: 40px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-menu-lists .color-item .color-icon{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: solid 1px black;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-shop-all-button{
        position: absolute;
        right: 0;
        bottom: 0;
        background: #55CCD9;
        padding: 10px 40px;
        border-radius: 5px;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-shop-all-button a{
        font-size: 16px;
        font-family: FuturaMedium;
    }
    .megamenu-area-tile-finder .megamenu-area-right-content .megamenu-area-shop-all-button a:hover{
        color: #000;
    }
</style>
  
<div class="megamenu-area megamenu-area-tile-finder">
    <div class="megamenu-area-container page-width">  
        <div class="megamenu-area-left"> 
          {%- for link in menu_link.links -%}
           <div class="megamenu-area-menu-item-button {% if forloop.index ==1 %}active{% endif %}" data-content-id="megamenu-area-right-content-{{- forloop.index -}}">    
                <a href="{{ link.url }}" >    
                <p class="h3">{{ link.title }} </p>
              </a>
            </div>
          {%- endfor -%}
        </div>
        <div class="megamenu-area-divider"></div>
         <div class="megamenu-area-right">
            <div id="megamenu-area-right-content-1" class="megamenu-area-right-content megamenu-area-right-glass-tile">
                {%- for link in linklists["glass-tilebs"].links -%}
                    {% render "header-megamenu-right-content", link: link, menu_settings: menu_settings %}
                {%- endfor -%}

                <div class="megamenu-area-shop-all-button">
                    <a class="shop-all-button-label" href="{{ menu_settings.shopall_link1 }}">
                        {{ menu_settings.shopall_text1 }}
                    </a>
                </div>
            </div>
            <div id="megamenu-area-right-content-2" class="megamenu-area-right-content megamenu-area-right-porcelain-tile" style="display:none;">
                {%- for link in linklists["porcelain-tilebs"].links -%}
                    {% render "header-megamenu-right-content", link: link, menu_settings: menu_settings %}
                {%- endfor -%}

                <div class="megamenu-area-shop-all-button">
                    <a class="shop-all-button-label" href="{{ menu_settings.shopall_link2 }}">
                        {{ menu_settings.shopall_text2 }}
                    </a>
                </div>
            </div>
            <div id="megamenu-area-right-content-3" class="megamenu-area-right-content megamenu-area-right-natural-stone-tile" style="display:none;">
                {%- for link in linklists["natural-stone-tilebs"].links -%}
                    {% render "header-megamenu-right-content", link: link, menu_settings: menu_settings %}
                {%- endfor -%}

                <div class="megamenu-area-shop-all-button">
                    <a class="shop-all-button-label" href="{{ menu_settings.shopall_link3 }}">
                        {{ menu_settings.shopall_text3 }}
                    </a>
                </div>
            </div>
            
         </div>
    </div>     
</div>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        
        const menuButtons = document.querySelectorAll(".megamenu-area-menu-item-button");
        const menuContents = document.querySelectorAll(".megamenu-area-right-content");

        menuButtons.forEach((btn) => {
            btn.addEventListener("mouseenter", (e) => {
                // Remove 'active' class from all buttons
                menuButtons.forEach(f => f.classList.remove('active'));

                // Hide all menu contents
                menuContents.forEach((f) => { 
                    f.style.display = 'none'; 
                });

                // Get the content ID from the data attribute
                var content_id = e.target.getAttribute('data-content-id');
                var content_el = document.querySelector("#" + content_id);

                console.log("id= " + content_id);
                console.log("el= ", content_el);

                // Show the corresponding content
                if (content_el) {
                    content_el.style.display = 'flex';
                }

                // Add 'active' class to the hovered button
                e.target.classList.add("active");
            });
        });

    });
</script>