{% comment %} Enhancing Navigation Menu with Visuals {% endcomment %}
<style>
    .megamenu-area-kitchen-bath .megamenu-area-container{
        display: flex;
        height: 375px;
    }
    .megamenu-area-kitchen-bath .megamenu-area-left{
        flex-basis: 45%;
        display: flex;
        column-gap: 22%;
    }
    .megamenu-area-kitchen-bath .megamenu-area-menu-content{
      text-align: left;
    }
    .megamenu-area-kitchen-bath .megamenu-area-divider{
        width: 1px;
        border-left: solid 1px #A5A5A5;
        height: 180px;
        margin-top: 7%;
    }
    .megamenu-area-kitchen-bath .megamenu-area-right{
        display: flex;
        flex-basis: 55%;
        padding-left: 6%;
        column-gap: 5%;
    }
    .megamenu-area-kitchen-bath .megamenu-area p.h3{
        font-size: 14px;
    }
    .megamenu-area-kitchen-bath .megamenu-area-menu-items li{
        margin-bottom: 5px;
    }
    .megamenu-area-kitchen-bath .megamenu-area-menu-items li a{
        font-size: 16px;
    }
    .megamenu-area-kitchen-bath .megamenu-area p.megamenu-text-overlay{
        margin-top: 20px;
    }
    .megamenu-area-kitchen-bath .megamenu-area-menu-view-all a{
        font-family: FuturaMedium;
    }
</style>
  
<div class="megamenu-area megamenu-area-kitchen-bath">
    <div class="megamenu-area-container page-width">  
        <div class="megamenu-area-left"> 
          {%- for link in menu_link.links -%}
           <div class="megamenu-area-menu-content">          
            <a href="{{ link.url }}" > <p class="h3">{{ link.title }} </p> </a>
              <ul class="megamenu-area-menu-items">
                {%- for childlink in link.links -%}
                  <li value=""{%- if  forloop.index == link.links.size -%} class="megamenu-area-menu-view-all" {%- endif -%}>
                      <a href="{{ childlink.url }}"> {{ childlink.title }} </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
        </div>
        <div class="megamenu-area-divider"></div>
         <div class="megamenu-area-right">
            <div class="mega-menu__image">
              <a href="{{ menu_settings.link1 }}"> 
                <img src="{{ menu_settings.image1 | img_url: '2x' }}" alt="{{ menu_settings.image1.alt | escape }}" width="{{ menu_settings.image1.width }}" height="{{ menu_settings.image1.height }}" loading="lazy">
                <p class="megamenu-text-overlay">{{menu_settings.text1 }}</p>
              </a>
            </div>
            <div class="mega-menu__image">
              <a href="{{ menu_settings.link2 }}"> 
                <img src="{{ menu_settings.image2 | img_url: '2x' }}" alt="{{ menu_settings.image2.alt | escape }}" width="{{ menu_settings.image2.width }}" height="{{ menu_settings.image2.height }}" loading="lazy">
                <p class="megamenu-text-overlay">{{menu_settings.text2 }}</p>
              </a>
            </div>
         </div>
    </div>     
</div>