{% comment %} Enhancing Navigation Menu with Visuals {% endcomment %}
<style>
    .megamenu-area-turf-hardscapes .megamenu-area-container{
        display: flex;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-left{
        flex-basis: 22%;
        display: flex;
        column-gap: 22%;
        flex-direction: column;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-menu-content{
      text-align: left;
      margin-bottom: 70px;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-divider{
        width: 1px;
        border-left: solid 1px #A5A5A5;
        height: 180px;
        margin-top: 7%;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-right{
        display: flex;
        flex-basis: 78%;
        padding-left: 4%;
        column-gap: 5%;
        flex-wrap: wrap;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-right .mega-menu__image{
        width: 20%;
    }
    .megamenu-area-turf-hardscapes .megamenu-area p.h3{
        font-size: 14px;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-menu-items li{
        margin-bottom: 5px;
    }
    .megamenu-area-turf-hardscapes .megamenu-area-menu-items li a{
        font-size: 16px;
    }
    .megamenu-area-turf-hardscapes.megamenu-area p.megamenu-text-overlay{
        margin-top: 10px;
    }
  
</style>
  
<div class="megamenu-area megamenu-area-turf-hardscapes">
    <div class="megamenu-area-container page-width">  
        <div class="megamenu-area-left"> 
          {%- for link in menu_link.links -%}
           <div class="megamenu-area-menu-content">          
            <a href="{{ link.url }}" > <p class="h3">{{ link.title }} </p> </a>
              <ul class="megamenu-area-menu-items">
                {%- for childlink in link.links -%}
                  <li value="">
                      <a href="{{ childlink.url }}"> {{ childlink.title }} </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
        </div>
        <div class="megamenu-area-divider"></div>
         <div class="megamenu-area-right">
            <div class="mega-menu__image">
              <a href="{{ menu_settings.link1 }}"> 
                <img src="{{ menu_settings.image1 | img_url: '2x' }}" alt="{{ menu_settings.image1.alt | escape }}" width="{{ menu_settings.image1.width }}" height="{{ menu_settings.image1.height }}" loading="lazy">
                <p class="megamenu-text-overlay">{{menu_settings.text1 }}</p>
              </a>
            </div>
            <div class="mega-menu__image">
              <a href="{{ menu_settings.link2 }}"> 
                <img src="{{ menu_settings.image2 | img_url: '2x' }}" alt="{{ menu_settings.image2.alt | escape }}" width="{{ menu_settings.image2.width }}" height="{{ menu_settings.image2.height }}" loading="lazy">
                <p class="megamenu-text-overlay">{{menu_settings.text2 }}</p>
              </a>
            </div>
            <div class="mega-menu__image">
                <a href="{{ menu_settings.link3 }}"> 
                  <img src="{{ menu_settings.image3 | img_url: '2x' }}" alt="{{ menu_settings.image3.alt | escape }}" width="{{ menu_settings.image3.width }}" height="{{ menu_settings.image3.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text3 }}</p>
                </a>
              </div>
              <div class="mega-menu__image">
                <a href="{{ menu_settings.link4 }}"> 
                  <img src="{{ menu_settings.image4 | img_url: '2x' }}" alt="{{ menu_settings.image4.alt | escape }}" width="{{ menu_settings.image4.width }}" height="{{ menu_settings.image4.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text4 }}</p>
                </a>
              </div>
              <div class="mega-menu__image">
                <a href="{{ menu_settings.link5 }}"> 
                  <img src="{{ menu_settings.image5 | img_url: '2x' }}" alt="{{ menu_settings.image5.alt | escape }}" width="{{ menu_settings.image5.width }}" height="{{ menu_settings.image5.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text5 }}</p>
                </a>
              </div>
              <div class="mega-menu__image">
                <a href="{{ menu_settings.link6 }}"> 
                  <img src="{{ menu_settings.image6 | img_url: '2x' }}" alt="{{ menu_settings.image6.alt | escape }}" width="{{ menu_settings.image6.width }}" height="{{ menu_settings.image6.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text6 }}</p>
                </a>
              </div>
              <div class="mega-menu__image">
                <a href="{{ menu_settings.link7 }}"> 
                  <img src="{{ menu_settings.image7 | img_url: '2x' }}" alt="{{ menu_settings.image7.alt | escape }}" width="{{ menu_settings.image7.width }}" height="{{ menu_settings.image7.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text7 }}</p>
                </a>
              </div>
              <div class="mega-menu__image">
                <a href="{{ menu_settings.link8 }}"> 
                  <img src="{{ menu_settings.image8 | img_url: '2x' }}" alt="{{ menu_settings.image8.alt | escape }}" width="{{ menu_settings.image8.width }}" height="{{ menu_settings.image8.height }}" loading="lazy">
                  <p class="megamenu-text-overlay">{{menu_settings.text8 }}</p>
                </a>
              </div>
         </div>
    </div>     
</div>